name: Spell Check
on: [push, pull_request]

permissions:
  contents: read

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check spelling in specific files
        uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          only_warn: false
          path: "**/*.{md,h, cuh, cpp, cu}"